*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: Garamond, serif;
}

header{
  height: 100px;
  background: #effdf7;
  opacity: .8;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

header p{
  font-size: 20px;
  font-weight: 400;
  color: #ff6f69;
}
button{
  padding: 0 40px;
}

.dropdown{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 550px;
}

.recipe ul{
  position: absolute;
  background: none;
  width: 100px;
  height: 100px;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  margin-left: 40px;
}

.recipe a{
  color: #96ceb4;
  text-decoration: none;
}

.dropdown button, .home{
  background: none;
  border: none;
  text-decoration: none;
  color: #96ceb4;
  font-size: 20px;
  cursor: pointer;
}

.recipe li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe li:hover{
  border-radius: 5px; 

}

button:hover, .home:hover{
  color: #ffcc5c;
  
}

.recipe:hover ul{
  display: flex;
}

.recipe a:hover{
  color: #ffcc5c;
}



main{
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
}

.beautiful-food{
  max-width: 650px;
  height: auto;
  opacity: .8;
  padding: 20px;
}


.content-left{
  width: 25%;
  height: auto;
}

.content-right img{
  height: auto;
  display: flex;
}

main h1{
  font-size: 54px;
  color: #ff6f69;
  text-transform: uppercase;
}

main h2{
  font-size: 25px;
  color: #ffcc5c;
  font-weight: 400;
  letter-spacing: 8px;

}

main p{
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 31px;
  margin: 30px 0;
}

.start_cooking{
  padding: 15px 30px;
  background: #96ceb4;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

